@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
  --color-red: #ff0000;
  --color-blue: #0000ff;
  --color-grey: #808080;
  --color-primary: #FFFFFF;
  --color-secondary: #009494;
  --color-accent: #FF965D;
  --collor-silver:#B2B6BA;
  --color-black::#000000;
  --font-outfit:"Outfit", sans-serif;
}

