@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
  --color-red: #ff0000;
  --color-blue: #0000ff;
  --color-grey: #E9E9EB;
  --font-outfit:"Outfit", sans-serif;
}

